*{
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #642a73;
    font-size: 40px;
    text-align: center;

}

header{
    width: 100%;
    height: 900px;
    background: turquoise;
    background: -webkit-linear-gradient(to right, hsla(340,95%,50%,0.671),hsla(317,45%,60%,0.600)),url('./img/libro-luna.jpg');
    background: linear-gradient(to right, hsla(340,95%,50%,0.671),hsla(317,45%,60%,0.600)),url('./img/libro-luna.jpg');
    background-size: cover;
    background-attachment: fixed;
    position:relative;
}

.textos-header{
    display: flex;
    height: 600px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
      
}

.textos-header h1{
    margin-top: 200px;
    font-size: 50px;
    color: white;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: white;
}

.wave{
    position: absolute;
    bottom:0;
    width: 100%;

}  

