<body>
<div class="container__table">
  <table class="table">
    <thead>
      <tr>
        <th>ARTICULO</th>
        <th>CANTIDAD</th>
        <th>PRECIO UNITARIO</th>
        <th>SUBTOTAL</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Name</td>
        <td>quantity</td>
        <td>price</td>
        <td>subtotal</td>
      </tr>
    </tbody>

    <div class="container__total">
      <p class="total">
        Total:<span>998$</span>
      </p>
    </div>

  </table>
</div>
</body>
